.grid-wrapper-your-group{
    /*position: relative;*/
    min-height: 210px;
}

.grid-your-group {
    list-style: none;
    margin: 0;
    padding: 0;
}

.grid-your-group .item {
    height: 190px;
    width: 157px;
    float: left;
}
.grid-item-button-your-group {
    text-decoration: none;
    color: #FFF;
    height: 40px;
    line-height: 40px;
    text-align: center;
    width: 140px;
    display: block;
    margin: 0px auto;
    background: url('../images/bg/flip-btn.png') center no-repeat;
}

.grid {
    list-style: none;
    margin: 0;
    padding: 0;
}

.grid .item {
    height: 190px;
    width: 157px;
    float: left;
}

.grid-icon-panel {
    height: 90px;
    text-align: center;
    margin-top: 10px;
}

.grid-icon-panel img {
    height: 100%;
}

.grid-item-cap {
    color: #C0C0C0;
    text-align: center;
    font-weight: bold;
}

.grid-item-mess {
    text-align: center;
    font-size: 12px;
    color: #777;
    line-height: 25px;
}
.grid-item-button {
    text-decoration: none;
    color: #FFF;
    height: 40px;
    line-height: 40px;
    text-align: center;
    width: 140px;
    display: block;
    margin: 0px auto;
    background: url('../images/bg/flip-btn.png') center no-repeat;
}
.disable{
    opacity:0.5;
    filter:alpha(opacity=50); 
    font-weight: bold;
    color: rgb(255, 0, 59);
}
.join-error {
    position: absolute;
    top: 250px;
    display: block;
    font-size: 13px;
    font-style: italic;
    color: rgb(245, 235, 0);
    text-indent: 20px;
}
.join-error i {
    display: inline-block;
    width: 14px;
    height: 13px;
    background: url("../images/icon/warning-ico.png") no-repeat;
    margin-left: 5px;
}
.right-content {
    width: 465px;
    height: 210px;
    margin-left: 163px;
    /*background-color: #BA0E36;*/
}
.group-details{
    padding-top: 10px;
}
.group-details p {
    margin: 0 0 20px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    /*font-size: 13px;*/
    line-height: 18px;
    color: #C9C9C9;
}
.group-details a {
    color: #BA0E36;
    font-weight: bold;
    text-decoration: none;
}
.group-details-label {
    display: inline-block;
    vertical-align: top;
    font-weight: bold;
    min-width: 78px;
    color: #C9C9C9;
}